{% extends 'base.html.twig' %}

{% block title %}{{ episode.title }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="card col-12" style="width: 18rem;">
            <div class="card-body">
                <h1 class="mt-0">{{ program.title }}</h1>
                <p>{{ program.summary }}</p>
                <p>Categorie : {{ program.category.name }}</p>
                <a class="btn btn-primary" href="{{ path('wild_show_program', {'slug': program.slug}) }}">Voir le programme</a>
                <h2 class="card-title">Saison {{ season.number }}, Année {{ season.year }}</h2>
                <p class="card-text">{{ episode.synopsis }}</p>
            </div>
        </div>
    </div>
    <div class="row">
            <div class="card col-12" style="width: 18rem;">
                <div class="card-body">
                    <h2 class="card-title">Episode : {{ episode.number }} {{ episode.title }}</h2>
                    <p class="card-text">{{ episode.synopsis }}</p>
                    <a class="btn btn-primary" href="{{ path('wild_show_season', {'id': season.id}) }}">Retour à la saison</a>
                </div>
            </div>
    </div>
    {% if is_granted('ROLE_SUBSCRIBER') %}
        <div class="card mb-3 mr-3 ml-3 mt-3">
            {{ form_start(form) }}
            <div class="row">
                <div class="col">
                    {{ form_row(form.comment) }}
                </div>
                <div class="col">
                    {{ form_row(form.rate) }}
                </div>
            </div>
            <div style="text-align: center">
                <button class="btn btn-secondary" type="submit">Ajouter un commentaire</button>
            </div>
            {{ form_end(form) }}
        </div>
    {% endif %}
    {% if episode.comments %}
        {% for comment in episode.comments|sort((a,b) => b.createdAt <=> a.createdAt) %}
            <div class="card mb-3">
                <div class="card-header">
                    <p>Posté le : {{ comment.createdAt.format('Y-m-d H:i:s') }}</p>
                    <p class="card-left">Note {{ comment.rate }}<strong>/20</strong></p>
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p>{{ comment.comment }}</p>
                        <footer class="blockquote-footer">{{ comment.author.username }}</footer>
                    </blockquote>
                    {% if is_granted('ROLE_SUBSCRIBER') %}
                        {% if app.user.email is same as(comment.author.username) %}
                            <a class="btn btn-danger" href="{{ path('wild_comment_delete', {'id': comment.id}) }}">Supprimer</a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        {% else %}
            <div class="row">
                <h2 style="text-align: center">Aucun commentaires</h2>
            </div>
    {% endif %}
{% endblock %}